
<div id="formulario" >
<p>
  <b>URL original:</b>
  <% if (@tinyull.longurl =~ /^(http|https)/).nil? %>
    <%= link_to @tinyull.longurl, "http://"+@tinyull.longurl, :popup => 'true' %>
  <% else  %>
    <%= link_to  @tinyull.longurl, @tinyull.longurl, :popup => 'true' %>
  <% end %>
</p>


<p>
  <b>URL corta:</b>
  <% @final_url = $domain + "/" +  @tinyull.shorturl %>
  <%= text_field "enlace", "name", "size" => 15, "value" => @final_url %>
</p>

<%= link_to 'Crear otra URL', root_path %> 

<%= render :partial => "shared/social" %>


</div>
