<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html lang="es-ES">

<head>    
<%= stylesheet_link_tag 'style' %>
<title>Universidad de La Laguna - TinyULL</title>
</head>

<body>

<div id="centro"> 
  <div id="contenido"> 
    <div id="logo">
    	<%= link_to (image_tag "tinyull.png", :width => "200", :border => "0"), root_path, :title => "TinyULL" %>
    </div>
    <div> 
      <h1>Servicio de enlaces cortos<br /></h1>
      <div>
          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
      </div>
    </div>
  </div>
</div>

<p class="pie"><%= link_to 'Desarrollado', 'http://www.eduardonacimiento.com', :popup => 'true' %> por la <%= link_to 'Oficina de Software Libre de la Universidad de la Laguna', 'http://osl.ull.es', :popup => 'true' %>
<br />
Licenciado bajo <%= link_to 'AGPLv3', 'http://www.gnu.org/licenses/agpl-3.0.html', :popup => 'true' %>, se puede <%= link_to 'descargar libremente', 'http://gitorious.org/mencey/tinyull', :popup => 'true' %></p>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://webstats.osl.ull.es/" : "http://webstats.osl.ull.es/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 11);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://webstats.osl.ull.es/piwik.php?idsite=11" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Tag -->

</body>

</html>
